<div class="container">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 reset-pass-container">
            
            <form role="form" [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit(registerForm.value)">
                <label>Register Here <span>*</span> </label>
                <div class="form-group"> 
                    <input type="text" 
                        class="form-control"
                        formControlName="name"
                        autocomplete="false"
                        placeholder="Email"> 
                    <div class="error" *ngFor="let validation of validation_messages.name">
                        <span *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)">
                            {{validation.message}}
                        </span>
                    </div>
                </div> 
                <div class="form-group"> 
                    <input type="password" 
                        class="form-control"
                        formControlName="password"
                        autocomplete="false"
                        placeholder="Password"> 
                    <div class="error" *ngFor="let validation of validation_messages.password">
                        <span *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                            {{validation.message}}
                        </span>
                    </div>
                </div> 
                <a href="Javascript:void(0)" routerLink="/login"><u>Already Registered ?</u></a>
                <button type="submit" [disabled]="!registerForm.valid" class="btn-upper btn btn-primary checkout-page-button pull-right">{{registerBtnText}}</button>
            </form>
        </div>  
    </div>
</div>